name: run-tests

description: "Install lance wheel and run unit tests"
inputs:
  python-minor-version:
    required: true
    description: "9 10 11 12"
  skip-torch:
    required: false
    description: "Skip pytorch tests"
    default: "false"
  memtest:
    required: false
    description: "Run memtest"
    default: "false"
runs:
  using: "composite"
  steps:
    - name: Setup MSVC for torch.compile
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1
    - name: Install dependencies
      working-directory: python
      shell: bash
      run: |
        pip3 install $(ls target/wheels/pylance-*.whl)[tests,ray]
    - name: Install torch
      working-directory: python
      shell: bash
      if: inputs.skip-torch == 'false'
      run: |
        # Install cpu only pytorch
        pip install torch --index-url https://download.pytorch.org/whl/cpu
    - name: Install memtest
      working-directory: memtest
      if: inputs.memtest == 'true'
      shell: bash
      run: |
        make build-release
        echo "LD_PRELOAD=$(lance-memtest)" >> $GITHUB_ENV
    - name: Run python tests
      shell: bash
      working-directory: python
      run: make test
